.searchArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.searchSubmit {
    border: 1px solid black;
    border-radius: 5px;
}

.searchSubmit input,
.searchSubmit button {
    border: 0;
    border-radius: 5px;
}

.searchSubmit button {
    padding: 8px 12px;
    cursor: pointer;
    color: black;
    background-color: #a9ffb6;
    transition: 0.1s ease-in-out;
}

.searchSubmit button:hover {
    color: white;
    background-color: #75b07e;
}

.clickItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#itemSearch-color div{
    width: 10px;
    height: 10px;
    color: green;
}

.boxAllContent {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding-bottom: 20px;
}

.cat_imgContent  {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #75b07e;
}

.cat_infoContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat_infoContent h3{
    text-align: center;
    font-weight: 400;
}

.cat_detail {
    color: #75b07e;
    transition: 0.2s ease-in-out;
}

.cat_detail:hover {
    text-decoration: underline dotted
}

@media screen and (max-width: 768px) {

    .searchArticle {
        flex-direction: column;
    }
    
}