.sreachArticle {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.sreachArticle input,
.sreachArticle button {
    border: 0;
    border-radius: 5px;
}

.sreachArticle button {
    padding: 8px 12px;
    cursor: pointer;
}

.boxAllContent {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding-bottom: 20px;
}

.cat_imgContent  {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #75b07e;
}

.cat_infoContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat_infoContent h3{
    text-align: center;
    font-weight: 400;
}

.cat_detail {
    color: #75b07e;
    transition: 0.2s ease-in-out;
}

.cat_detail:hover {
    text-decoration: underline dotted
}